{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
      "no-unused-vars": ["warn", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
      "no-console": "warn",
      "prefer-const":"error",
      "jsx-quotes":["error", "prefer-double"],
      "quotes": ["error", "single"],
      "indent": ["warn", 2]
  }
}
